<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of all liked quotes</title>
</head>

<body>
    <a href="/quotes">Back</a>
    <br>
    <br>
    <form action="/logout" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
        <p></p>
        <h2>{{thisUser.first_name}} {{thisUser.last_name}}'s Quotes</h2>
        {% for quotes in thisUser.quotes_uploaded.all %}
        <p>{{quotes.author}}: {{quotes.content}}</p>
        <hr>
        {% endfor %}



</body>

</html>